<h1>StaticPages#index</h1>

<button class="btn">Click me</button>
<!-- <div id="">
  <%#= react_component('MainComment', name: 'John') %>
</div> -->
<div id="id_name"></div>
<div id="id_time"></div>
<div id="content"></div>